# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# 1. 忽略编译出来的可执行文件 (你的 makefile 生成的是 server)
server
# 如果你以后改名了，或者生成在 bin 目录下
bin/

# 2. 忽略日志文件夹里的具体日志，但保留文件夹本身
log/*
!log/.gitkeep

# 3. 忽略 VS Code 的配置文件夹 (如果你不想上传你的个人按键设置)
.vscode/

# 4. 忽略 Mac 系统产生的垃圾文件 (如果你或面试官用 Mac 打开)
.DS_Store

# 5. 忽略 build 文件夹 (如果你用了我之前给的 Makefile)
build/

# 忽略 wrk 压测目录

wrk/
